body {
    height: 100%;
}

/* Bootstrap Overrides */

.btn {
    text-align: left;
}

.btn a {
    color: inherit;
}

.btn a:hover {
    text-decoration: none;
}

.control-group {
    margin-left: 10px;
}

.control-group p {
    margin-left: -10px;
}

.row-fluid {
    
}

.nav-header {
    background-color: #eee;
}

.nav .nav-header {
    color: #000;
    text-shadow: #000;
    padding: 3px 10px;
}

.nav li + .nav-header {
    margin-top: 0;
}

.sidebar-nav li.nav-header {
    line-height: 30px;
}

.sidebar-nav li a {
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}

.sidebar-nav {
    margin: -18px -20px 0 -20px;
    /* border-bottom: 1px solid #ddd; */
    border-right: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    /* min-height:expression( document.body.clientHeight +'px'); */
    height: 700px;
    margin-bottom: 25px;
    
}

.nav-list .active > a, .nav-list .active > a:hover {
    background-color: #7799bb;
    /* background-color: #bbbbaa; */
}

.alert {
    margin: 10px 0;
    text-align: left;
}

.form-actions {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.nav-tabs {
    margin-top: 10px;
}

.tab-content {
    margin-top: -18px;
    padding: 20px 0 0 20px;
    border-left: 1px solid #ddd;
    overflow: auto;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: #ddd;
    height: 20px;
    width: 100%;
    padding: 10px;
}

.well {
    margin: 20px 0 0 10px;
}

.table {
    margin-left: 20px;
    width: 97%;
}

.badge a {
    color: #fff;
}

.badge a:hover {
    text-decoration: none;
}

/* End Bootstrap Overrides */

/* General HTML */

h1 {
    color: #7799bb;
    font-size: 2em;
}

h2 {
    /* color: #7799bb; */
    /* color: #bbbbaa; */
    color: #000000;
    font-size: 1.4em;
}

h3 {
    margin-top: 10px;
}

a {
    color: #527091;
}

p {
    margin: 10px 10px;
    text-align: justify;
    line-height: 1.5em;
}

p.error {
    background: #FFF3F3;
    padding: 5px 5px 5px 20px;
    margin-left: -10px;
}

p.error label {
    color: #CC0000;
}

fieldset {
    padding: 1px;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: middle;
}

form {
    margin-top: 10px;
}

li button {
    width: 148px;
}

li button {
    text-align: left;
}

button a {
    display: block;
}

/* End General HTML */


/* App-specific */
.skip-content {
    display: none;
}

.left-line {
    border-left: 1px solid #eee;
    height: 2000px;
    overflow: hidden;
    position: fixed;
}

.app-body {
    padding-left: 20px;
}

.form-fields {
    padding-left: 20px;
}

.alert-error h3 {
    color: #B94A48;
}

.item-row {
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
    padding: 5px 0 8px 0;
}

.span3span {
    display: inline;
    margin-left: 15px;
}

.token-value {
    margin: 10px 0 20px 20px;
    font-family: monospace;
    font-size: 2em;
}

.options-list {
    list-style: none;
}

.buttons li {
    line-height: 3em;
}

.buttons li a {
    width: 125px;
    text-align: left;
}

.large {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 10px;
}
/* End App-specific */